/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 hidden attribute fix */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset some common elements */
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Reset buttons */
button {
    overflow: visible; /* IE 7 */
    border: none;
}

/* Reset input type */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* WebKit */
    cursor: pointer; /* IE 7 */
}

/* Reset input type search */
input[type="search"] {
    -webkit-appearance: textfield; /* WebKit */
    -moz-box-sizing: content-box; /* Firefox */
    -webkit-box-sizing: content-box; /* WebKit */
    box-sizing: content-box;
}

/* Reset textarea */
textarea {
    overflow: auto; /* IE 7 */
    vertical-align: top; /* IE 7 */
    resize: vertical; /* IE 7 */
}
